<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/index.css" />
        <title>Baked and Bubbly Products</title>
    </head>
    <body>
        <nav class="main-nav">
            <i id="main-nav__responsive__toggle" class="fas fa-bars"></i>
            <a class="main-nav__logo" href="/"
                ><i class="fas fa-fan"> </i> Baked and Bubbly
                <i class="fas fa-fan"></i
            ></a>
            <div id="main-nav__link__container">
                <a class="main-nav__link" href="/">Home</a>
                <a class="main-nav__link" href="/products/cupcake">Products</a>
                <a class="main-nav__link" href="/contact">Contact</a>
            </div>

            <a class="main-nav__cart" aria-label="Navigating Link" href="/cart"
                ><i class="fas fa-shopping-bag"></i
            ></a>
        </nav>
        <header class="product-header">
            <div class="product-dual-column">
                <h2 class="product-grid-title"><%= name %> <%= type %></h2>
            </div>
            <div class="product-dual-column">
                <h2 class="product-grid-title">$<%= price %></h2>
            </div>
        </header>
        <main id="main" class="product-main">
            <div class="product-dual-grid">
                <div class="product-dual-column">
                    <div
                        id="product-image-sticky"
                        class="product-image-container"
                    >
                        <img
                            src="<%= image %>"
                            alt="<%= name %>"
                            id="product-image"
                        />
                        <div class="product-grid-item">
                            <div class="four-grid-container">
                                <img
                                    src="<%= image %>"
                                    alt="<%= name %>"
                                    id="product-image"
                                />
                                <img
                                    src="https://lh3.googleusercontent.com/proxy/jWcdizbMZC_xahqqyRRlTkJJdsVcU1H8P5zIiIJAIgMIN8u8Yj9gzOfjZXt0bUUu6MXTZn-hLQc9ku2V-EjK-O0B70X3jIs_FY2uyvv2GhJqm-OGy0M4LoJr0pBU0vmS2GC8gy3hDJ9eJpHGek1-lcRmNjoXlR_FWhhDbjZotMYPKA"
                                    alt="<%= name %>"
                                    id="product-image"
                                />
                                <img
                                    src="<%= image %>"
                                    alt="<%= name %>"
                                    id="product-image"
                                />
                                <img
                                    src="https://lh3.googleusercontent.com/proxy/jWcdizbMZC_xahqqyRRlTkJJdsVcU1H8P5zIiIJAIgMIN8u8Yj9gzOfjZXt0bUUu6MXTZn-hLQc9ku2V-EjK-O0B70X3jIs_FY2uyvv2GhJqm-OGy0M4LoJr0pBU0vmS2GC8gy3hDJ9eJpHGek1-lcRmNjoXlR_FWhhDbjZotMYPKA"
                                    alt="<%= name %>"
                                    id="product-image"
                                />
                            </div>
                        </div>
                        <hr class="divideLine" />
                    </div>
                </div>
                <div class="product-dual-column">
                    <div class="product-title__container">
                        <h2 class="product-title">Customize Your Dessert!</h2>
                    </div>
                    <div class="input-radio__container">
                        <h2 class="input-radio__title">Choose your flavor</h2>
                        <div class="input-radio">
                            <span class="text__wrapper">
                                <span class="text">Name</span>
                                <span class="text">Other Info</span>
                            </span>
                        </div>
                        <div class="input-radio">
                            <span class="text__wrapper">
                                <span class="text">Name</span>
                                <span class="text">Other Info</span>
                            </span>
                        </div>
                    </div>
                    <hr class="divideLine" />
                    <div class="input-radio__container">
                        <h2 class="input-radio__title">Choose your flavor</h2>
                        <div class="input-radio">
                            <span class="text__wrapper">
                                <span class="text">Name</span>
                                <span class="text">Other Info</span>
                            </span>
                        </div>
                        <div class="input-radio">
                            <span class="text__wrapper">
                                <span class="text">Name</span>
                                <span class="text">Other Info</span>
                            </span>
                        </div>
                    </div>
                    <hr class="divideLine" />
                    <div class="input-radio__container">
                        <h2 class="input-radio__title">Choose your flavor</h2>
                        <div class="input-radio">
                            <span class="text__wrapper">
                                <span class="text">Name</span>
                                <span class="text">Other Info</span>
                            </span>
                        </div>
                        <div class="input-radio">
                            <span class="text__wrapper">
                                <span class="text">Name</span>
                                <span class="text">Other Info</span>
                            </span>
                        </div>
                    </div>
                    <hr class="divideLine" />
                    <div class="input-radio__container">
                        <h2 class="input-radio__title">Choose your flavor</h2>
                        <div class="input-radio">
                            <span class="text__wrapper">
                                <span class="text">Name</span>
                                <span class="text">Other Info</span>
                            </span>
                        </div>
                        <div class="input-radio">
                            <span class="text__wrapper">
                                <span class="text">Name</span>
                                <span class="text">Other Info</span>
                            </span>
                        </div>
                    </div>
                    <div class="cart-add__container">
                        <button class="cart-add__btn">Add To Cart</button>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer-container">
            <div id="footer-logo-img-container">
                <img
                    src="https://img.pngio.com/luxurious-badge-logo-design-free-vintage-stamp-logo-maker-badge-design-png-621_581.png"
                    alt="logo"
                    id="footer-logo-img"
                />
            </div>
            <div class="footer-social__icon__link__container">
                <a class="footer-social__icon__link"
                    ><i class="footer-social__icon fab fa-youtube"></i
                ></a>
                <a class="footer-social__icon__link"
                    ><i class="footer-social__icon fab fa-youtube"></i
                ></a>
                <a class="footer-social__icon__link"
                    ><i class="footer-social__icon fab fa-youtube"></i
                ></a>
            </div>
            <ul class="footer-link-list">
                <li class="footer-link">
                    <a class="link" href="#">About</a>
                </li>
                <li class="footer-link">
                    <a class="link" href="#">Support</a>
                </li>
                <li class="footer-link">
                    <a class="link" href="#">Blog</a>
                </li>
                <li class="footer-link four">
                    <a class="link" href="#">Terms of Use</a>
                </li>
                <li class="footer-link">
                    <a class="link" href="#">Blog</a>
                </li>

                <li class="footer-link five">
                    <a class="link" href="#">Privacy Policy</a>
                </li>
            </ul>
            <p id="copyright" class="footer-link">© 2020 joshuaeup</p>
        </footer>
        <script src="/js/shared.js"></script>
        <script
            src="https://kit.fontawesome.com/3cf526719d.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
